@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400 500 600 7000 800;
    font-style: normal;
}




html{font-size:20px; word-break: keep-all; margin: 0; padding: 0; scroll-behavior: smooth;}
body{margin: 0; padding: 0;}
nav{text-align: center; font-family: 'Audiowide', cursive; 
	font-size: 23px; background-color:rgba(255, 255, 255, 0.6); backdrop-filter: blur(7px);
	 padding:0px; margin:0; }


nav ul {
  list-style: none;
  justify-content: space-between;
  line-height: 38px;
 
  margin: 0;
 
}

nav li {
  display: inline-block;
  	
  	list-style-type: none; 
  	
	height: 60px;
	color: #0000ff;
	

}

nav a {
  color:#0000ff;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

nav a:hover {color:#8598FF; transition: all 0.5s;
 
}






.cls1{fill: none; stroke:#000; stroke-miterlimit:10;
stroke-width: 1.3;}
  #line1 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;

    animation: draw 1s ease-in-out infinite;
     animation-duration: 3s;
  }
  #line2 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;

    animation: draw 2s
    ease-in-out infinite;
    animation-duration: 3s;
  }
  @keyframes draw {
  	from{stroke-dashoffset: 2000;}
    to {
      stroke-dashoffset: 0;
    }
}
   
  
  #line3 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: line3 1s ease-in-out infinite;
    animation-duration: 3s;
  }

  @keyframes line3{
    from{stroke-dashoffset: 2000;}
    to {stroke-dashoffset: 0;}

}

    
h1{font-size: 2.5rem; line-height:3rem;}
h3{font-size: 2rem; font-weight: 500; line-height: 3rem;}
h4{font-size: 2rem; line-height: 3rem;}
 .pig {
        opacity: 0;
        transition: all 0.8s; 
      }
 .pig2 {
        opacity: 0;
        transition: all 0.8s; 
      }
.p1{font-size:1.7rem; line-height:2.5rem;}
.p2{font-size: 1.2rem; line-height: 2rem; font-weight: 500;}
.p3{font-size: 2.2rem; line-height: 1.6rem; font-weight:700;}
.detail{font-size: 1.2rem; line-height: 1.7rem; word-break: break-all; 
	font-weight: 500; }
.footer-t{color:#0000ff; font-size: 1.2rem; font-weight: 700;}
.footer1{color: #6D6D6D; line-height: 2rem; }
.footer2{font-size: 1rem; line-height: 1.5rem; font-family: 'Pretendard-Regular'; 
	color: #D9D9D9;}
.footer3{font-size: .7rem; line-height: 1rem; font-family: 'Pretendard-Regular'; 
	font-weight: 400; color: #D9D9D9;}
.block1{padding: 0; font-size: .8rem; height: 55px; width:270px; background-color: white; 
		border:solid #6D6D6D; 1px; display:block; text-align: center;}
.block2{padding: 0; font-size: .8rem;  width:100px; background-color: #0000ff; 
		border:solid #0000ff; 1px; display:block; color: white;}
.number{font-family:'Great Vibes'; font-size:10rem; color: lightgray;}
.process-english{font-size: 1.5rem; }
.step{color: #0000ff; font-family: 'Great Vibes'; font-size: 4rem; margin: 0}
.bg-blue{background-color:#0000ff;}
.f-white{color: white;}
.border{border:red solid 0px;}
.pretendard{font: Pretendard-Regular;}
.f500{font-weight: 500;}
.blue{
	color: #0000ff;
}
.tcenter{text-align: center;}
.wrapper{
	margin: auto;
	max-width: 900px;
	
}
.width{width: 1200px;}